Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@jay-k98 
VRLAB-HSKL
/
UnityGit
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
UnityGit/.gitignore
@MBrill
MBrill Beispiel für Logging-Ausgaben
Latest commit 80cc491 on 31 Mar
 History
 1 contributor
91 lines (75 sloc)  1.03 KB
  
# gitignore for Unity projects
# Keine ignores für VR-Assets wie Steam

# Vi and VIM Backup Files
*~
*.swp

# Windows
**/desktop.ini

# Andere Unity Verzeichnisse
**/Library/*
**/obj/*
**/ProjectSettings/*
**/Logs/*

# Assets wie MiddleVR oder MBU
**/Assets/MiddleVR/*
**/Assets/Plugins
**/Assets/MBU/*
**/MBU.meta
**/Assets/XR/*
**/XR.meta

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and Builds
*.exe
*.apk
*.unitypackage

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

**/Library/
**/Library/*
**/Logs/
**/Logs/*
**/Packages/
**/Packages/*
**/ProjectSettings/
**/ProjectSettings/*
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/Assets/AssetStoreTools*

MogansLaws/Library/
MogansLaws/Library/*
MogansLaws/Logs/
MogansLaws/Logs/*
MogansLaws/Packages/
MogansLaws/Packages/*
MogansLaws/ProjectSettings/
MogansLaws/ProjectSettings/*
MogansLaws/[Tt]emp/
MogansLaws/[Oo]bj/
MogansLaws/[Bb]uild/
MogansLaws/[Bb]uilds/
MogansLaws/Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/
**/.vsconfig
.vscode/
**/.vscode
# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated  files
*.pidb.meta
*.pdb.meta
*.asset	



# Unity3D Generated File On Crash Reports
sysinfo.txt
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
